  
  .App-content {
  /*
    border: red solid 2px;
  */
    display: flex;
    justify-content: center;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .logoutBlock{
    text-align: center;
    align-items: center;
    display: flex;
  }